<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>frame000</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,0},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame001</key>
			<dict>
				<key>frame</key>
				<string>{{2,72},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,70},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame002</key>
			<dict>
				<key>frame</key>
				<string>{{2,142},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,140},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame003</key>
			<dict>
				<key>frame</key>
				<string>{{2,212},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,210},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame004</key>
			<dict>
				<key>frame</key>
				<string>{{2,282},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,280},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame005</key>
			<dict>
				<key>frame</key>
				<string>{{2,352},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,350},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame006</key>
			<dict>
				<key>frame</key>
				<string>{{2,422},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,420},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame007</key>
			<dict>
				<key>frame</key>
				<string>{{2,492},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,490},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame008</key>
			<dict>
				<key>frame</key>
				<string>{{2,562},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,560},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame009</key>
			<dict>
				<key>frame</key>
				<string>{{2,632},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,630},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame010</key>
			<dict>
				<key>frame</key>
				<string>{{2,702},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,700},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame011</key>
			<dict>
				<key>frame</key>
				<string>{{2,772},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,770},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame012</key>
			<dict>
				<key>frame</key>
				<string>{{2,842},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,840},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame013</key>
			<dict>
				<key>frame</key>
				<string>{{2,912},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,910},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame014</key>
			<dict>
				<key>frame</key>
				<string>{{2,982},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,980},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame015</key>
			<dict>
				<key>frame</key>
				<string>{{2,1052},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,1050},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame016</key>
			<dict>
				<key>frame</key>
				<string>{{2,1122},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,1120},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame017</key>
			<dict>
				<key>frame</key>
				<string>{{2,1192},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,1190},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame018</key>
			<dict>
				<key>frame</key>
				<string>{{2,1262},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,1260},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame019</key>
			<dict>
				<key>frame</key>
				<string>{{2,1332},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,1330},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame020</key>
			<dict>
				<key>frame</key>
				<string>{{2,1402},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,1400},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame021</key>
			<dict>
				<key>frame</key>
				<string>{{2,1472},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,1470},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame022</key>
			<dict>
				<key>frame</key>
				<string>{{2,1542},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,1540},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame023</key>
			<dict>
				<key>frame</key>
				<string>{{2,1612},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,1610},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame024</key>
			<dict>
				<key>frame</key>
				<string>{{2,1682},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,1680},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame025</key>
			<dict>
				<key>frame</key>
				<string>{{2,1752},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,1750},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame026</key>
			<dict>
				<key>frame</key>
				<string>{{2,1822},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,1820},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame027</key>
			<dict>
				<key>frame</key>
				<string>{{2,1892},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,1890},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame028</key>
			<dict>
				<key>frame</key>
				<string>{{2,1962},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,1960},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>frame029</key>
			<dict>
				<key>frame</key>
				<string>{{2,2032},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceColorRect</key>
				<string>{{0,2030},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>sheet_NewProject_enemy_skeleton_Anime_anime_1.png</string>
			<key>size</key>
			<string>{64,64}</string>
			<key>textureFileName</key>
			<string>sheet_NewProject_enemy_skeleton_Anime_anime_1.png</string>
		</dict>
	</dict>
</plist>
